# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: hjordan <marvin@42.fr>                     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2020/12/02 03:23:39 by hjordan           #+#    #+#              #
#    Updated: 2020/12/10 04:13:19 by hjordan          ###   ########lyon.fr    #
#                                                                              #
# **************************************************************************** #

*.out
*.a
*.exe
*.o
*.DS_Store
*.txt
